.order-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
  max-height: 20rem;
  overflow: scroll;
}

.details {
  display: flex;
  flex-direction: column;
}

.details input {
  border-radius: 0.5rem;
  border: 1px solid #8a2b06;
  padding: 0.3rem;
}

.location {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.city {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.city input {
  border-radius: 0.5rem;
  border: 1px solid #8a2b06;
  padding: 0.3rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-self: end;
}

.cancel {
  background-color: white;
  color: #8a2b06;
}

.cancel:hover {
  background-color: #8a2b06;
  color: white;
}

.error {
  color: red;
  font-size: 0.8rem;
}

@media (max-width: 650px) {
  .order-form {
    gap: 0.5rem;
    padding: 0.2rem;
    padding-top: 1rem;
  }

  .details input {
    padding: 0.3rem;
  }

  .location {
    gap: 0.5rem;
    max-width: 100%;
    width: 95%;
  }

  .location div {
    width: 50%;
  }
}
